{% include ("base.html.twig") %}
{% block title %}Actualizar de jugadores{% endblock %}

{% block body %}
    <h1>Actualizar jugador</h1>

    {{form_start(formJugadores)}}
        {{form_row(formJugadores.nombre)}}
        {{form_row(formJugadores.apellidos)}}
        {{form_row(formJugadores.edad)}}
        {{form_row(formJugadores.equipo)}}
        {{form_widget(formJugadores.submit)}}
        <br>
        <a href="{{path('getJugadores')}}">Mostrar Jugadores</a>
    {{form_end(formJugadores)}}

{% endblock %}