{% extends 'base.html.twig' %}

{% block title %}Actualizar Restaurantes{% endblock %}

{% block body %}
    <h1>Actualizacion de restaurantes</h1>
    {{ form_start(formRest) }}
        {{ form_row(formRest.correo) }}
        {{ form_row(formRest.clave) }}
        {{ form_row(formRest.pais) }}
        {{ form_row(formRest.cp) }}
        {{ form_row(formRest.ciudad) }}
        {{ form_row(formRest.direccion) }}
        {{ form_widget(formRest.submit) }}
        <br>
    {{ form_end(formRest) }}
{% endblock %}