{% include ("base.html.twig") %}
{% block title %}Registro de empleados{% endblock %}

{% block body %}
    <h1>Registro</h1>

    {{form_start(formEmple)}}
        {{form_row(formEmple.nombre)}}
        {{form_row(formEmple.apellido)}}
        {{form_row(formEmple.salario)}}
        {{form_widget(formEmple.submit)}}
        <br>
        <a href="{{path('getEmpleados')}}">Mostrar empleados</a>
    {{form_end(formEmple)}}

{% endblock %}